@font-face {
    font-family: 'Montserrat-Arabic-275';
    src: url(../fonts/Montserrat-Arabic\ ExtraLight\ 275.otf);
}


@font-face {
    font-family: 'Montserrat-Arabic';
    src: url(../fonts/Montserrat-Arabic\ Regular\ 400.otf);
}

@font-face {
    font-family: 'Montserrat-Arabic-500';
    src: url(../fonts/Montserrat-Arabic\ Medium\ 500.otf);
}

@font-face {
    font-family: 'Montserrat-Arabic-600';
    src: url(../fonts/Montserrat-Arabic\ SemiBold\ 600.otf);
}

@font-face {
    font-family: 'Montserrat-Arabic-700';
    src: url(../fonts/Montserrat-Arabic\ Bold\ 700.otf);
}


body {
    font-family: 'Montserrat-Arabic';
    color: #3D464D;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #3D464D;
}

a:hover {
    color: #3D464D;
}


.container-fluid h3 {
    font-size: 22px;
    line-height: 29px;
}

.container-fluid h1 a,
.container-fluid h3 a {
    color: #F5F6F6;
    ;
    text-decoration: none;
}

.container-fluid .headertop {
    position: relative;
    z-index: 1000000;
    padding: 15px 0;
    background: white;
}


.container-fluid .headertop h4 {
    font-size: 40px;
    line-height: 49px;
}

.container-fluid .headertop .search_bar {
    width: 100%;
    max-width: 335px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 60px;
    border: 1px solid #3D464D;
}

.container-fluid .headertop .search_bar input {
    flex: 1;
    outline: none;
    border: 0;
    background: transparent;
    padding: 10px;
    font-size: 20px;
}

::placeholder {
    color: #D9D9D9;
    font-size: 24px;
    line-height: 29px;
}

.container-fluid .headertop .search_bar .btn {
    background: transparent;
    border: 0;
    outline: none;
}

.container-fluid .headertop h4 span {
    color: #FFD333;
}

.container-fluid .headertop .headricons .spanicon svg {
    width: 24px;
    height: 24px;
}


.container-fluid .headertop .headricons .spanicon svg path {
    color: #3D464D;
}

.container-fluid .headertop .headricons .spantitle {
    font-family: 'Montserrat-Arabic-500';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.container-fluid .headertop .headricons .line {
    width: 2px;
    padding: 0 !important;
    height: 32px;
    background-color: #EEEEEE;
}

.container-fluid .headertop .btn-outline-warning {
    text-align: center;
    width: 125px;
    height: 55px;
    color: #FFD333;
    border-color: #FFD333;
    border-radius: 30px;
    font-size: 14px;
    line-height: 20px;
}

.container-fluid .headertop .btn-outline-warning:hover {

    color: #212529;
    border-color: #FFD333;
}


.container-fluid .navbar {
    background: #FFD333;
    z-index: 10000;
    padding: 0;
}

.container-fluid .navbar ul li .nav-link {
    font-size: 20px;
    line-height: 24px;
    color: #3D464D;
}

.container-fluid .navbar ul li.nav-item {
    padding: .5rem 21px;
}

.container-fluid .navbar ul li .nav-link.active {
    font-family: 'Montserrat-Arabic-600';
    font-weight: 600;
}

.container-fluid .navbar .dropdown-toggle::after {
    border-top: 0;
}

.container-fluid .navbar li {
    list-style-type: none;
}

.container-fluid .dropdown {

    position: inherit;

}


.container-fluid .dropdown-menu ul {
    padding: 0;
    text-align: start;
}


.container-fluid .dropdown:hover {
    background-color: #d5a703;
}

.container-fluid .dropdown-menu li {
    margin-left: auto !important;
    margin-right: 0 !important;
}

.container-fluid .dropdown-menu .dropdown-item,
.container-fluid .dropdown-menu p {
    padding: 0.25rem 0rem;
    text-align: start;

    font-size: 20px;
    line-height: 39px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    padding: 27px 27px;
    right: 0px;
    box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, .3);
    z-index: 100000;
    /* display: block; */
}



.navbar-expand-lg .navbar-nav .dropdown-menu .Square2 {
    display: flex;
    border: 1px solid whitesmoke;

    align-items: center;
    border-radius: 20px;
    justify-content: center;
}


.Square2 .img-fluid {
    max-width: 245px;
}





.meun-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    /* transition: all 0.5s ease; */
}


.meun-overlay.active {
    visibility: visible;
    opacity: 1;
}

/* .container-fluid .navbar .dropdown .dropdown-menu {
    display: block;
    opacity: 0;
} */
.container-fluid .navbar .dropdown .dropdown-menu.show {
    display: block;
    transition: all 0.6s;
}


.container-fluid .sidebar {
    background-color: #ffffff;
    box-shadow: 0px 6px 10px 2px #a0a0a0;
    position: fixed;
    bottom: 0;
    z-index: 39;
    width: 100%;
}

.container-fluid .sidebar .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #ffd333;
}

.container-fluid .sidebar .tooltip2 {
    font-size: 11px;
    color: rgb(64, 69, 83);
    font-weight: 600;
    text-align: center;
}


.container-fluid .sliderhome .col-lg-7 {
    background-color: #F5F6F6;
}

.container-fluid .sliderhome .item {
    position: relative;
}

.container-fluid .sliderhome .btn-warning {
    background-color: #FFD333;
    color: white;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    right: 10%;
    padding: .5rem 2rem;
}




.container-fluid .sliderhome .item .w-100 {

    margin-top: 0;
    margin-right: auto;

}




.container-fluid .sliderhome .carousel-indicators .active {
    background-color: #FFD333;
    opacity: 1;
}

.container-fluid .sliderhome .overtext {

    position: absolute;
}

.container-fluid .sliderhome .overtext h2 {
    font-style: normal;
    line-height: 78px;
    color: #FFFFFF;
}


.container-fluid .markting .circle {
    margin: 0 auto;

    border-radius: 50%;
    background: #FFF8E0;
    display: flex;
    align-items: center;
    justify-content: center;
}



.container-fluid .markting h3,
.container-fluid .markting p {
    margin-top: 10px;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}


.container-fluid .setion1 .card,
.container-fluid .setion2 .card {
    border: 1px solid #F5F6F6;
}

.container-fluid .card .carousel:hover {
    cursor: pointer;
}

.container-fluid .setion1 .card .carousel .carousel-inner,
.container-fluid .setion2 .card .carousel .carousel-inner {
    background-color: #F5F5F5;
}

.container-fluid .setion1 .card .btn-warning {
    background: #FFD333;
}

.container-fluid .setion1 .card .carousel .w-100,
.container-fluid .setion2 .card .carousel .w-100 {
    margin: 0 auto;

    padding: 15px;
}

.container-fluid .setion1 .card .carousel .carousel-indicators,
.container-fluid .setion2 .card .carousel .carousel-indicators {
    bottom: -18px;
}

.container-fluid .setion1 .card .carousel .carousel-indicators [data-bs-target],
.container-fluid .setion2 .card .carousel .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.container-fluid .setion1 .card .carousel .carousel-indicators .active,
.container-fluid .setion2 .card .carousel .carousel-indicators .active {
    opacity: 1;
    background-color: #3D464D;
}


.container-fluid .setion1 .card .card-body,
.container-fluid .setion2 .card .card-body {
    display: flex;
    height: 300px;
    background: #FEFEFE;
    flex-direction: column;
    justify-content: space-between;
}

.container-fluid .setion1 .card .card-body h5,
.container-fluid .setion2 .card .card-body h5 {
    padding-left: 33px;
    font-weight: 400px;
    font-size: 20px;
    line-height: 145%;
    text-align: right;
    letter-spacing: -0.005em;

}

.container-fluid .setion2 .card .card-body p,
.container-fluid .setion1 .card .card-body p {
    font-size: 20px;
    line-height: 24px;
    text-align: right;

}

.container-fluid .setion1 .card .card-body p span.price,
.container-fluid .setion2 .card .card-body p span.price {
    font-weight: bold;

}

.container-fluid .setion1 .card .card-body .pdiscount,
.container-fluid .setion2 .card .card-body .pdiscount {
    font-family: 'Montserrat-Arabic-500';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.container-fluid .setion1 .card .card-body .pdiscount .discount1,
.container-fluid .setion2 .card .card-body .pdiscount .discount1 {
    text-decoration-line: line-through;
}

.container-fluid .setion1 .card .card-body .pdiscount .discount2,
.container-fluid .setion2 .card .card-body .pdiscount .discount2 {
    color: #028C59;
}

.container-fluid .setion1 .card .card-body .pstore,
.container-fluid .setion2 .card .card-body .pstore {
    font-family: 'Montserrat-Arabic-500';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #259BD6;
}

.container-fluid .setion1 .card .card-body .reviews,
.container-fluid .setion2 .card .card-body .reviews {
    font-family: 'Montserrat-Arabic-500';
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
}

.container-fluid .setion1 .card .card-body .reviews .spanstar,
.container-fluid .setion2 .card .card-body .reviews .spanstar {
    color: #FCA120;
}

.container-fluid .setion2 .card .circle2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    border-radius: 50%;
    background: #EC1C2E;
    transform: rotate(-11.68deg);
    z-index: 1;
    color: white;
}

.container-fluid .section3 .img-fluid {
    /* width: 100% !important; */
    height: 100%;
    width: 100% !important;
}

.container-fluid .section3 .relative {
    position: relative;
}

.container-fluid .section3 .overtext {
    position: absolute;
    top: 33px;
    right: 36px;
}



.container-fluid .section4 .card .card-img-top,
.container-fluid .section5 .card .card-img-top {
    padding: 21px;
}

.container-fluid .section4 .card,
.container-fluid .section5 .card {
    background: #F5F5F5;
    border: 1px solid #F5F6F6;
}

.container-fluid .section4 .card .card-body,
.container-fluid .section5 .card .card-body {
    text-align: center;
    background: #FEFEFE;
}

.container-fluid .section4 .card .card-body h5,
.container-fluid .section5 .card .card-body h5 {
    font-family: 'Montserrat-Arabic-500';
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    text-align: right;
    letter-spacing: -0.02em;
    text-align: center;
}

.container-fluid .circle3 {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #323539;
    margin: 0 5px;
}

.container-fluid .topfooter {
    padding: 25px;
}

.container-fluid .topfooter .titleinformation {
    font-family: 'Montserrat-Arabic-500';
    font-style: normal;
    font-weight: 500;
    text-align: right;
}

.container-fluid .topfooter .titleinformation p {

    font-size: 32px;
    line-height: 39px;

}

.container-fluid .topfooter .titleinformation span {

    font-size: 16px;
    line-height: 20px;

}

.container-fluid .topfooter .information {
    font-size: 18px;
    line-height: 150.4%;
    font-family: 'Montserrat-Arabic-275';
    text-align: right;
    display: flex;
    flex-direction: column;
}


.container-fluid .footer {
    background: #F5F6F6;
    padding: 25px;
}



.container-fluid .footer h5 {
    font-family: 'Montserrat-Arabic-500';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
}

.container-fluid .footer ul.list-unstyled {
    padding-right: 0;
}

.container-fluid .footer ul li a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    text-decoration: none;
    /* color: #3D464D; */
    color: #3d464d8a;
}

.container-fluid .endfooter .Square {
    width: 85px;
    height: 46.07px;
    background: #F5F6F6;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid .endfooter p {
    font-family: 'Montserrat-Arabic-275';
    font-style: normal;
    font-weight: 275;
    font-size: 16px;
    line-height: 150.4%;
    text-align: right;
    margin-bottom: 0;
    color: #3D464D;
}

.container-fluid.search .sectiontitle span {
    font-size: 20px;
    line-height: 24px;
}

.container-fluid.search .sectiontitle button {

    font-size: 16px;
    line-height: 20px;
    border: 1px solid #3D464D;
    border-radius: 30px;
    width: 198px;
    height: 55px;
}

.container-fluid.search .sectiontitle button:hover svg path {

    fill: white;
}

.container-fluid.search ul {
    padding-left: 0;
}

.container-fluid.search ul li {
    list-style-type: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}

.container-fluid.search .main-item div:first-child {
    cursor: pointer;
}

.container-fluid.search .toptitle {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin: 10px 0;
}

.container-fluid.search .categorymeun {
    position: relative;
}



/* .container-fluid.search li.category.active::after {
    content: "";
    position: absolute;
    top: 24px;
    right: 23px;
    bottom: 8px;
    width: 2px;
    background-color: rgb(218, 220, 227);

} */

.container-fluid.search .sub-item {
    margin-top: 15px;
}

.container-fluid.search .category .open {
    transform: rotate(-90deg);
}

.container-fluid.search .category.active .open {
    transform: rotate(1deg)
}

.container-fluid.search .category .squareicons {
    background-color: #EBEBEB;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;

}

.container-fluid.search .submenu {
    display: none;
}

.container-fluid.search .submenu.active {
    display: block;
}

.container-fluid.search .submenu .submenu-title {
    margin: 10px 0;
}

.container-fluid.search .categories {
    display: none;
}

.container-fluid.search .categories.active {
    display: block;
}

.container-fluid.search .category .d-flex {
    align-items: center;
}

.container-fluid.search .price .form-control {
    width: 91px;
    height: 48px;
    font-size: 15px;
    line-height: 18px;

    color: #E5E5E5;
}


.container-fluid.search .price button {
    background: transparent;
    border: 0;
    font-size: 15px;
    line-height: 18px;

    color: #E5E5E5;
}

.container-fluid.search .form-check {
    display: flex;
    font-size: 16px;
    line-height: 32px;
    align-items: center;

    text-align: center;

    color: #3D464D
}

.container-fluid.search .form-check span {
    margin-right: auto;
    font-family: 'Montserrat-Arabic-275';
    font-style: normal;
    font-weight: 275;
    font-size: 14px;
    line-height: 17px;

    text-align: center;

    /* color: #3D464D; */
    color: #c0c3c5;
}

.container-fluid.search .form-check .form-check-input {
    float: right;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

/* .container-fluid.search .form-control-color {
    max-width: 2.5rem;

    border: 0;
} */

.container-fluid.search .Squarecolor {
    width: 24px;
    height: 24px;
    border: 1px solid #c5c5c5d7;
}


.container-fluid.search .swiper {
    height: 3000px;
}

.container-fluid.search .swiper .swiper-pagination-bullet {
    width: 60px !important;
    height: 60px !important;
    padding: 18px;
    border: 1px solid #C8C5C9;
    border-radius: 4px !important;
    background: white;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: black !important;
}



.container-fluid.search .swiper .swiper-pagination-bullet-active {
    background: #FFD333;
    color: white !important;
}

@media screen and (min-width: 992px) {


    .container-fluid .sliderhome .overtext {
        top: 46px;
        right: 39px;
    }

    .container-fluid .sliderhome .overtext h2 {
        font-family: 'Montserrat-Arabic-500';
        font-style: normal;
        font-weight: 500;
        font-size: 60px;
    }

    .container-fluid .setion1 .card .carousel .w-100,
    .container-fluid .setion2 .card .carousel .w-100 {

        height: 272px;
        width: 219px !important;
    }

    .container-fluid .setion1 .card .carousel .carousel-inner,
    .container-fluid .setion2 .card .carousel .carousel-inner {
        height: 331px;
        background-color: #F5F5F5;
    }






    .container-fluid .setion2 .card .circle2 {

        width: 87.63px;
        height: 87.63px;
    }

    .container-fluid .section4 .card .card-img-top,
    .container-fluid .section5 .card .card-img-top {
        padding: 21px;
        height: 415px;
    }

    .container-fluid .section4 .card .card-body h5,
    .container-fluid .section5 .card .card-body h5 {

        font-size: 24px;
    }



    .container-fluid .footer .col-lg-auto {
        margin: 0 30px;
    }

    .container-fluid .endfooter {
        height: 86px;
    }

    .container-fluid .footer .iocnsmedia .justifyend {
        justify-content: end;
    }

    .container-fluid .footer .iocnsmedia .justifyend h4 {
        text-align: center;
    }

    .container-fluid .markting .circle {
        width: 173px;
        height: 173px;
    }

    .container-fluid .markting .circle svg {
        width: 84px;
        height: 85px;
    }
}

@media screen and (max-width: 767px) {

    .container-fluid .sliderhome .overtext {
        top: 5px;
        right: 25px;
    }

    .container-fluid .sliderhome .overtext h2 {
        font-family: 'Montserrat-Arabic-700';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
    }

    .container-fluid .sliderhome .carousel-inner .carousel-item .carousel-caption h1 {
        font-size: 30px;
        line-height: 64px !important;
    }

    .container-fluid .sliderhome .carousel-inner .carousel-item .carousel-caption p {
        font-size: 20px;
    }

    .container-fluid .setion1 .card .carousel .w-100,
    .container-fluid .setion2 .card .carousel .w-100 {

        height: 207px;
        width: 161px !important;
    }

    .container-fluid .setion1 .card .carousel .carousel-inner,
    .container-fluid .setion2 .card .carousel .carousel-inner {
        height: 267px;
        background-color: #F5F5F5;
    }

    .container-fluid .setion2 .card .circle2 {

        width: 67.63px;
        height: 67.63px;
    }

    .container-fluid .section4 .card .card-img-top,
    .container-fluid .section5 .card .card-img-top {
        height: 210px;
    }

    .container-fluid .section4 .card .card-body h5,
    .container-fluid .section5 .card .card-body h5 {

        font-size: 15px;
        ;
    }



    .container-fluid .footer .iocnsmedia .justifyend {
        justify-content: start;
    }

    .container-fluid .footer .iocnsmedia .justifyend h4 {
        text-align: start;
    }

    .container-fluid .markting .circle {
        width: 135px;
        height: 135px;
    }

    .container-fluid .markting .circle svg {
        width: 66px;
        height: 66px;
    }

    .container-fluid .sidebar {

        height: 10vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .container-fluid .sliderhome .overtext {
        top: 46px;
        right: 39px;
    }

    .container-fluid .sliderhome .overtext h2 {
        font-family: 'Montserrat-Arabic-600';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
    }



    .container-fluid .setion1 .card .carousel .w-100,
    .container-fluid .setion2 .card .carousel .w-100 {

        height: 272px;
        width: 219px !important;
    }

    .container-fluid .setion1 .card .carousel .carousel-inner,
    .container-fluid .setion2 .card .carousel .carousel-inner {
        height: 331px;
        background-color: #F5F5F5;
    }

    .container-fluid .setion2 .card .circle2 {

        width: 87.63px;
        height: 87.63px;
    }

    .container-fluid .section4 .card .card-img-top,
    .container-fluid .section5 .card .card-img-top {
        padding: 21px;
        height: 325px;
    }

    .container-fluid .section4 .card .card-body h5,
    .container-fluid .section5 .card .card-body h5 {
        font-size: 24px;
    }

    /* .container-fluid .sliderhome .mySwiper2 .item .w-100 {
        width: 796px !important;
        height: 648px;
    } */

    .container-fluid .endfooter .iconimage {
        justify-content: center !important;
    }

    .container-fluid .footer .iocnsmedia .justifyend {
        justify-content: start;
    }

    .container-fluid .footer .iocnsmedia .justifyend h4 {
        text-align: start;
    }

    .container-fluid .markting .circle {
        width: 156px !important;
        height: 156px;
    }

    .container-fluid .markting .circle svg {
        width: 77px !important;
        height: 77px;
    }

    .container-fluid .sidebar {

        height: 6vh;
    }
}