@font-face {
    font-family: 'Montserrat-Arabic-275';
    src: url(../fonts/Montserrat-Arabic\ ExtraLight\ 275.otf);
}


@font-face {
    font-family: 'Montserrat-Arabic';
    src: url(../fonts/Montserrat-Arabic\ Regular\ 400.otf);
}

@font-face {
    font-family: 'Montserrat-Arabic-500';
    src: url(../fonts/Montserrat-Arabic\ Medium\ 500.otf);
}

@font-face {
    font-family: 'Montserrat-Arabic-600';
    src: url(../fonts/Montserrat-Arabic\ SemiBold\ 600.otf);
}

@font-face {
    font-family: 'Montserrat-Arabic-700';
    src: url(../fonts/Montserrat-Arabic\ Bold\ 700.otf);
}


body {
    font-family: 'Montserrat-Arabic';
    color: #3D464D;
    font-weight: 400;
}


.container-fluid h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.container-fluid .headertop {
    padding: 15px 0;
}

.container-fluid .headertop h4 {
    font-size: 40px;
    line-height: 49px;
}

.container-fluid .headertop .search_bar {
    width: 100%;
    max-width: 335px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 60px;
    border: 1px solid #3D464D;
}

.container-fluid .headertop .search_bar input {
    flex: 1;
    outline: none;
    border: 0;
    background: transparent;
    padding: 10px;
    font-size: 20px;
}

::placeholder {
    color: #D9D9D9;
    font-size: 24px;
    line-height: 29px;
}

.container-fluid .headertop .search_bar .btn {
    background: transparent;
    border: 0;
    outline: none;
}

.container-fluid .headertop h4 span {
    color: #FFD333;
}

.container-fluid .headertop .headricons .spanicon svg {
    width: 24px;
    height: 24px;
}


.container-fluid .headertop .headricons .spanicon svg path {
    color: #3D464D;
}

.container-fluid .headertop .headricons .spantitle {
    font-family: 'Montserrat-Arabic-500';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.container-fluid .headertop .headricons .line {
    width: 2px;
    padding: 0 !important;
    height: 32px;
    background-color: #EEEEEE;
}

.container-fluid .headertop .btn-outline-warning {
    width: 115px;
    height: 55px;
    color: #FFD333;
    border-color: #FFD333;
    border-radius: 30px;
    font-size: 14px;
    line-height: 20px;
}

.container-fluid .headertop .btn-outline-warning:hover {

    color: #212529;
    border-color: #FFD333;
}


.container-fluid .navbar {
    background: #FFD333;
}

.container-fluid .navbar ul li .nav-link {
    font-size: 20px;
    line-height: 24px;
    color: #3D464D;
}

.container-fluid .navbar ul li {
    margin: 0 10px;
}

.container-fluid .navbar ul li .nav-link.active {
    font-family: 'Montserrat-Arabic-600';
    font-weight: 600;
}

.container-fluid .sliderhome .col-7 {
    background-color: #F5F6F6;
}


.container-fluid .sliderhome .carousel-inner .carousel-item .carousel-caption {
    padding: 0;
    top: 46px;
    right: 7%;
    color: #3D464D;
    text-align: right;

}

.container-fluid .sliderhome .carousel-inner .carousel-item .carousel-caption h1 {
    font-weight: 700;
    font-size: 100px;
    line-height: 122px;
    font-family: 'Montserrat-Arabic-700';
}

.container-fluid .sliderhome .carousel-inner .carousel-item .carousel-caption h1 span {
    color: #FFD333;
}

.container-fluid .sliderhome .carousel-inner .carousel-item .carousel-caption p {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
}

.container-fluid .sliderhome .carousel-inner .carousel-item .w-100 {
   
    margin-top: 0;
    margin-right: auto;
    margin-left: 20px;
    width: 574px !important;
    height: 566px;
}

.container-fluid .sliderhome .carousel-indicators {
    bottom: -15px;
}

.container-fluid .sliderhome .carousel-indicators [data-bs-target] {
    border-radius: 50%;
    height: 20px;
    width: 19.6px;
    background-color: #D9D9D9;
    ;
}

.container-fluid .sliderhome .carousel-indicators .active {
    background-color: #FFD333;
    opacity: 1;
}

.container-fluid .sliderhome .overtext {
    top: 46px;
    right: 39px;
    position: absolute;
}

.container-fluid .sliderhome .overtext h2 {
    font-family: 'Montserrat-Arabic-500';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
}


.container-fluid .markting .circle {
    width: 173px;
    height: 173px;
    border-radius: 50%;
    background: #FFF8E0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid .markting .circle svg {
    width: 84px;
    height: 85px;
}

.container-fluid .markting h3,
.container-fluid .markting p {
    margin-top: 10px;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}


.container-fluid .setion1 .card,
.container-fluid .setion2 .card {
    border: 1px solid #F5F6F6;
}

.container-fluid .setion1 .card .carousel .carousel-inner,
.container-fluid .setion2 .card .carousel .carousel-inner {
    background-color: #F5F5F5;
}

.container-fluid .setion1 .card .carousel .w-100,
.container-fluid .setion2 .card .carousel .w-100 {
    margin: 0 auto;
    height: 249px;
    width: 238px !important;
    padding: 22px;
}

.container-fluid .setion1 .card .carousel .carousel-indicators,
.container-fluid .setion2 .card .carousel .carousel-indicators {
    bottom: -18px;
}

.container-fluid .setion1 .card .carousel .carousel-indicators [data-bs-target],
.container-fluid .setion2 .card .carousel .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.container-fluid .setion1 .card .carousel .carousel-indicators .active,
.container-fluid .setion2 .card .carousel .carousel-indicators .active {
    opacity: 1;
    background-color: #3D464D;
}


.container-fluid .setion1 .card .card-body,
.container-fluid .setion2 .card .card-body {
    /* background: #FEFEFE; */
    display: flex;
    height: 300px;
    background: #FEFEFE;
    flex-direction: column;
    justify-content: space-between;
}

.container-fluid .setion1 .card .card-body h5,
.container-fluid .setion2 .card .card-body h5 {
    padding-left: 33px;
    font-weight: 400px;
    font-size: 20px;
    line-height: 145%;
    text-align: right;
    letter-spacing: -0.005em;

}

.container-fluid .setion2 .card .card-body p,
.container-fluid .setion1 .card .card-body p {
    font-size: 20px;
    line-height: 24px;
    text-align: right;

}

.container-fluid .setion1 .card .card-body p span.price,
.container-fluid .setion2 .card .card-body p span.price {
    font-weight: bold;

}

.container-fluid .setion1 .card .card-body .pdiscount,
.container-fluid .setion2 .card .card-body .pdiscount {
    font-family: 'Montserrat-Arabic-500';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* text-align: center; */
}

.container-fluid .setion1 .card .card-body .pdiscount .discount1,
.container-fluid .setion2 .card .card-body .pdiscount .discount1 {
    text-decoration-line: line-through;
}

.container-fluid .setion1 .card .card-body .pdiscount .discount2,
.container-fluid .setion2 .card .card-body .pdiscount .discount2 {
    color: #028C59;
}

.container-fluid .setion1 .card .card-body .pstore,
.container-fluid .setion2 .card .card-body .pstore {
    font-family: 'Montserrat-Arabic-500';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #259BD6;
}

.container-fluid .setion1 .card .card-body .reviews,
.container-fluid .setion2 .card .card-body .reviews {
    font-family: 'Montserrat-Arabic-500';
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    /* margin-top: 0;
    margin-bottom: 1rem; */
}

.container-fluid .setion1 .card .card-body .reviews .spanstar,
.container-fluid .setion2 .card .card-body .reviews .spanstar {
    color: #FCA120;
}

.container-fluid .setion2 .card .circle2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 87.63px;
    position: absolute;
    height: 87.63px;
    border-radius: 50%;
    background: #EC1C2E;
    transform: rotate(-11.68deg);
    z-index: 1;
    color: white;
}

.container-fluid .section3 .img-fluid {
    height: 100%;
}

.container-fluid .section3 .relative {
    position: relative;
}

.container-fluid .section3 .overtext {
    position: absolute;
    top: 33px;
    right: 36px;
}

.container-fluid .section3 .overtext h1 {
    font-family: 'Montserrat-Arabic-700';
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #F5F6F6;
}

.container-fluid .section3 .overtext h3 {
    font-family: 'Montserrat-Arabic-700';
    font-weight: 700;
    font-size: 46px;
    line-height: 60px;
    color: #F5F6F6;
}

.container-fluid .section4 .card .card-img-top,
.container-fluid .section5 .card .card-img-top {
    padding: 21px;
    height: 250px;
}

.container-fluid .section4 .card,
.container-fluid .section5 .card {
    background: #F5F5F5;
    border: 1px solid #F5F6F6;
}

.container-fluid .section4 .card .card-body,
.container-fluid .section5 .card .card-body {
    text-align: center;
    background: #FEFEFE;
}

.container-fluid .section4 .card .card-body h5,
.container-fluid .section5 .card .card-body h5 {
    font-family: 'Montserrat-Arabic-500';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    text-align: right;
    letter-spacing: -0.02em;
    text-align: center;
}

.container-fluid .circle3 {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #323539;
    margin: 0 5px;
}

.container-fluid .topfooter {
    padding: 25px;
}

.container-fluid .topfooter .titleinformation {
    font-family: 'Montserrat-Arabic-500';
    font-style: normal;
    font-weight: 500;
    text-align: right;
}

.container-fluid .topfooter .titleinformation p {

    font-size: 32px;
    line-height: 39px;

}

.container-fluid .topfooter .titleinformation span {

    font-size: 16px;
    line-height: 20px;

}

.container-fluid .topfooter .information {
    font-size: 18px;
    line-height: 150.4%;
    font-family: 'Montserrat-Arabic-275';
    text-align: right;
    display: flex;
    flex-direction: column;
}


.container-fluid .footer {
    background: #F5F6F6;
    padding: 25px;
}

.container-fluid .footer .col-lg-auto {
    margin: 0 5px;
}

.container-fluid .footer h5 {
    font-family: 'Montserrat-Arabic-500';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
}

.container-fluid .footer ul.list-unstyled {
    padding-right: 0;
}

.container-fluid .footer ul li a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    text-decoration: none;
    color: #3D464D;
}

.container-fluid .endfooter .Square {
    width: 85px;
    height: 46.07px;
    background: #F5F6F6;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid .endfooter p {
    font-family: 'Montserrat-Arabic-275';
    font-style: normal;
    font-weight: 275;
    font-size: 16px;
    line-height: 150.4%;
    text-align: right;
    margin-bottom: 0;
    color: #3D464D;
}