body {
    font-family: 'Montserrat-Arabic';
    color: #3D464D;
    font-weight: 400;
}


.container-fluid .headertop {
    padding: 15px 0;
}

.container-fluid .headertop h4 {
    font-size: 40px;
    line-height: 49px;
}

.container-fluid .headertop .search_bar {
    width: 100%;
    max-width: 335px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 60px;
    /* padding: 10px 20px; */
    border: 1px solid #3D464D;
}

.container-fluid .headertop .search_bar input {
    flex: 1;
    outline: none;
    border: 0;
    background: transparent;
    padding: 10px;
    font-size: 20px;
    /* color: #f1f1f1; */
}

::placeholder {
    color: #D9D9D9;
    font-size: 24px;
    line-height: 29px;
}

.container-fluid .headertop .search_bar .btn {
    background: transparent;
    border: 0;
    outline: none;
}

.container-fluid .headertop h4 span {
    color: #FFD333;
}

.container-fluid .headertop .headricons .spanicon svg {
    width: 24px;
    height: 24px;
}


.container-fluid .headertop .headricons .spanicon svg path {
    color: #3D464D;
}

.container-fluid .headertop .headricons .spantitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.container-fluid .headertop .headricons .line {
    width: 2px;
    padding: 0 !important;
    height: 32px;
    background-color: #EEEEEE;
}

.container-fluid .headertop .btn-outline-warning {
    width: 115px;
    height: 55px;
    color: #FFD333;
    border-color: #FFD333;
    border-radius: 30px;
}

.container-fluid .headertop .btn-outline-warning:hover {

    color: #212529;
    border-color: #FFD333;
}


.container-fluid .navbar {
    background: #FFD333;
}

.container-fluid .navbar ul li .nav-link {
    font-size: 20px;
    line-height: 24px;
    color: #3D464D;
}

.container-fluid .navbar ul li {
    margin: 0 10px;
}

.container-fluid .navbar ul li .nav-link.active {
    font-weight: 600;
}

.container-fluid .sliderhome .col-8 {
    background-color: #F5F6F6;
}


.container-fluid .sliderhome .carousel-inner .carousel-item .carousel-caption {
    top: 0;
    color: #3D464D;

    /* identical to box height */

    text-align: right;

}

.container-fluid .sliderhome .carousel-inner .carousel-item .carousel-caption h1 {
    font-weight: 700;
    font-size: 100px;
    line-height: 122px;
}

.container-fluid .sliderhome .carousel-inner .carousel-item .carousel-caption h1 span {
    color: #FFD333;
}

.container-fluid .sliderhome .carousel-inner .carousel-item .carousel-caption p {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
}

.container-fluid .sliderhome .carousel-inner .carousel-item .w-100 {
    /* width: 796px !important;
    height: 648px; */
    margin-top: 0;
    margin-right: auto;
    margin-left: 20px;
    width: 688px !important;
    height: 468px;
}

.container-fluid .sliderhome .carousel-indicators {
    bottom: -15px;
}

.container-fluid .sliderhome .carousel-indicators [data-bs-target] {
    border-radius: 50%;
    height: 20px;
    width: 19.6px;
    background-color: #D9D9D9;
    ;
}

.container-fluid .sliderhome .carousel-indicators .active {
    background-color: #FFD333;
    opacity: 1;
}

.container-fluid .markting .circle {
    width: 173px;
    height: 173px;
    border-radius: 50%;
    background: #FFF8E0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid .markting .circle svg {
    width: 84px;
    height: 85px;
}

.container-fluid .markting h3,
.container-fluid .markting p {
    margin-top: 10px;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}


.container-fluid .setion1 .card {
    border: 1px solid #F5F6F6;
}

.container-fluid .setion1 .card .carousel .carousel-inner {
    background-color: #F5F5F5;
}

.container-fluid .setion1 .card .carousel .w-100 {
    height: 206px;
    width: 192px !important;
}

.container-fluid .setion1 .card .carousel .carousel-indicators {
    bottom: -40px;
}

.container-fluid .setion1 .card .carousel .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.container-fluid .setion1 .card .carousel .carousel-indicators .active {
    opacity: 1;
    background-color: #3D464D;
}


.container-fluid .setion1 .card .card-body {
    background: #FEFEFE;
}

.container-fluid .setion1 .card .card-body h5 {
    font-size: 20px;
    line-height: 145%;
    text-align: right;
    letter-spacing: -0.005em;

}

.container-fluid .setion1 .card .card-body p {
    font-size: 20px;
    line-height: 24px;
    text-align: right;

}

.container-fluid .setion1 .card .card-body p span.price {
    font-weight: bold;

}

.container-fluid .setion1 .card .card-body .pdiscount {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* text-align: center; */
}

.container-fluid .setion1 .card .card-body .pdiscount .discount1 {
    text-decoration-line: line-through;
}

.container-fluid .setion1 .card .card-body .pdiscount .discount2 {
    color: #028C59;
}


.container-fluid .setion1 .card .card-body .pstore {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #259BD6;
}

.container-fluid .setion1 .card .card-body .reviews {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    /* margin-top: 0;
    margin-bottom: 1rem; */
}

.container-fluid .setion1 .card .card-body .reviews .spanstar {
    color: #FCA120;
}